.header-animated{
    height: 50vh;
    background-size: cover;
    animation-name:header-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.card-flip{
    position: relative;
    width: 400px;
    height: 400px;
    transform-style: preserve-3d; 
    transition: transform 0.5s ease; 
    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; 
      }
      .card-front {
        background-color: #EEE;
      }
      .card-back {
        background-color: #EEE;
        transform: rotateY(180deg); 
      }
      &:hover {
        transform: rotateY(180deg); 
         }
  }
  