*{
    font-family: $mainFont;
    box-sizing: border-box;
}
h1{
    color:$mainColor;
    font-size: $textLg; 
}

h2{
    font-size:$textLg;
}

h3{
    font-size: $textLg;
}

h1,h2,h3{
    margin-bottom: 10px;
}

h1,
h2,
h3,
form label,
.card h2{
    color: $mainColor;
}

p{
    font-weight: $textLight;
    font-size: $textMd;
    line-height: 1.4em;
}

.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.bg-gris {
    background-color: $secondaryColor;
}
.bg-shadow{
    background-color:$mainColor;
    color:$white;
}

.bg-gris{
    background-color: map-get($map: $paleta, $key:'nueve' );
}

.bg-gris{
    background-color: map-get($map: $paleta, $key:'doce' )
}

.bg-shadow{
    box-shadow: map-get($map:$paleta , $key:'trece' );
}

.box-top{
    padding: 4px 0;
    text-align: center;
    background-color: white;
    color: gray;
    font-size: 0.9em;
}
header img{
    width: 100%;
 }
 footer{
     background-color: rgb(134, 37, 37);
     padding: 10px 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     svg{
        width: 30px;
        height: 30px;
        fill:  rgb(206, 206, 206);
        margin-right: 10px;
     }
     a{
        text-decoration: none;
     }
     ul{
        list-style: none;
        li{
            a{
                color: rgb(255, 255, 255);
                font-size: 0.9em;
                text-decoration: none;
            }
        }
     }
 }
 