.contacto{
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  head{
    height: 120px;

}
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 label{
    display: flex;
    color: black;
    flex-direction: row;
    flex-wrap: wrap;

}

}    
}