.btn-gral{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background-color: $mainColor;
}
.btn-rounded{
    @extend .btn-gral;
    border-radius: 4px;
}
.container-gral{
    width: 100vw;
    height: auto;
    padding: 20px 50px;
}
@for $i from 1 through 6{
	.text-#{$i}{
		font-size: .25em *$i;}
    }
    
