.promociones{
    display: grid;
    grid-template-columns: 20% repeat(2.1fr);
    grid-template-rows: 80% repeat(3, 300px);
    gap: 5px;

main{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button{
    display: flex;
    align-items: center;
    background-color: rgb(94, 209, 209);
 }
}


