.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    figure{
        width: 30px;
        border: solid $secondaryColor 1px;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 0 20px;
        img{
            display: block;
            margin: auto;
        }
        figcaption{
            color: $mainColor;
            font-size: $textMd;
        }
        p{
            font-size: $textMd
        }
        bottom{
            border: none;
            padding: 6px 30px;
            background-color: $mainColor;
            border-radius: 3px;
            color: $white;
            text-align: center;
            margin-bottom: 20px;    
            width: 100%;
        }
    }
}