@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.botonera{
    background-color: rgb(177, 44, 44);
}
   .botonera img{
    width: 100px;
   }
   .botonera a{
    color: rgb(231, 229, 227);
   }

html{
    font-size: 62.5%;
}


h1{color: rgb(70, 59, 190);
    font-size: 3em;
    width:fit-content;
    margin: 3em;
    height:fit-content;
    padding: 2px;
    background-color: rgb(190, 190, 59);
}


p{color: rgb(43, 53, 10);
    font-weight: 800;
    font-size: 2em;
    line-height: 1.5em;
    font-style: italic;
    background-color: rgb(128, 128, 217);
}
h2{
    color: rgb(70, 59, 190);
    font-size: 3em;
    width: fit-content;
    margin: 3em;
    height: fit-content;
    padding: 2px;
    background-color: rgb(190, 190, 59);
}

p{
    color: rgb(132, 17, 17);
    font-weight: 800;
    font-size: 2em;
    line-height: 1.5em;
    font-style: italic;
    background-color: rgb(128, 128, 217);
}

h3{
    color: rgb(190, 190, 59);
    font-size: 2em;
}

header img{ 
           width: 100%;
}



footer {
    background-color: rgb(40, 135, 57);
    padding: 6px 30px;
}

h1,h2,h3{
    margin-bottom: 10px;
    width: 300px;
}

body{
    background-image: url(../Imagenes/Fondos/86731045-fondo-abstracto-geométrico-blanco-y-gris-con-las-líneas-plantilla-para-páginas-web-folletos.webp);
    background-attachment: fixed;
}

nav{
    background-color: rgba(183, 48, 27, 0.5);
    padding: 6px 30px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
  
    nav ul{list-style: none ;
          display: inline-flex;
          display: flex;

}
  
   nav ul li a {text-decoration: none;
                color: rgb(21, 21, 20);
                font-size: 2em;
                display: inline-block;
                margin-right: 10px;
}

form label{
    color: rgb(147, 47, 17);
    font-size: 1em;
    display: block;
}

main{
    padding: 20px 30px;
}

.bg-red{
    background-color: rgb(187, 32, 32);
    text-shadow: none;   
}

.text-center{
    text-align: center;
}

.contenedor{
    background-color: rgb(128, 128, 217);
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 20px auto;
    padding: 20px 50px;
    border:double 5px rgb(65, 30, 25) ;
}

.box-stop{
    padding: 4px 0;
    text-align: center;
    background-color: white;
    color: red;
}


.tr,th,td{
    font-size: 2em;

}

.contenedor{
    display: flex;
    flex-direction: column;
}

footer{
    background-color:rgb(156, 44, 44) ;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer svg{
    width: 30px;
    height: 30px;
    fill: rgb(244, 244, 238);
    margin-right: 6px;
}
footer ul{
    text-decoration: solid;
}

.bg-red{
    background-color: rgb(148, 20, 20);
}

.box-stop{
    padding: 4px 0;
    text-align: center;
    background-color: rgb(244, 242, 239);
    color: rgb(209, 76, 76);
    font-size: 0.8em;
}
.productos{
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.productos figure{
    width: 100px;

  
}

.productos figure img{
    display: flex;
    
}

.filters{
    padding: 0 20px 30px 30px;
}

.filters a{
    color: rgb(148, 39, 39);
    font-size: .7em;
    text-decoration: solid;
    margin-bottom: 4px;
    text-transform: lowercase;
}

.filters a:hover{
    color: rgb(220, 15, 15);
}

.filters span{
    display: block;
    color: rgb(8, 8, 8);
    margin: 10px 0;
    letter-spacing: 0.5px;
    font-size: 6px;
}

   .filters select{
    color: rgb(251, 228, 194);
    border: none;
    background-color: rgb(33, 32, 32);
    margin-bottom: 10px;
    font-size: 1em;
}

.filters li{
    padding-left: 10px;
    list-style: none;
}

.actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.actions button{
    margin-left: 10px;
    background-color: rgb(174, 40, 40);
    color: rgb(12, 12, 12);
    padding: 4px;
    border: none;
    border-radius: 3px;
}
.actions input{
    padding: 6px;
    border-radius: 3px;
    border: none;
    background-color: rgb(240, 255, 255);
}

.productos{
    display: grid;
    grid-template-columns: 20% repeat(2.1fr);
    grid-template-rows: 80% repeat(3, 300px);
    gap: 5px;
}

.productos .actions{
      padding: 0 30px;
      grid-area: actions;  
}

.productos .vinos{
    grid-area: vinos;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    text-align: center;
}

.productos .aceitedeoliva{
    grid-area: aceite de oliva;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    text-align: center;
}
.productos .conservas{
    grid-area: conservas;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    text-align: center;
}

img{
    margin-bottom: 10px;
}

img{
    display: inline-block;
    margin-right: 10px;
}

.icono{
    font-size: 20px;
}

.icono{
    position: relative;
    left: 10px;
}
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.productos figure{
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
    align-self: start;

}
.productos p{
    text-align: center;
    text-justify: auto;
    align-items: center;
    align-self: start;  
}

.productos figcaption{
    color: rgb(198, 83, 83);
    font-size: 1.6em;
}
.productos image{
    justify-content: center;
    direction: unset;
    
}
.productos figure p{
    font-size: 1.6em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.productos figure button{

    border: none;
    padding: 4px;
    background-color: rgb(97, 83, 170);
    border-radius: 3px 30px;
    color: rgb(206, 206, 194);
    text-align: center;
    margin-bottom: 10px;
}

.productos input{
    display: grid;
    grid-template-columns: 20% repeat(2.1fr); 
    grid-template-rows: 80%;
}



.contacto{
    display: grid;
    grid-template-columns: 20% repeat(2.1fr);
    grid-template-rows: 80%;
    text-align: center;
}



.contacto main label{
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    grid-template-areas: initial;
}
.productos main input{
    margin-right: 30px;
}

@media(width <1024px){
    .productos figure{
        width: 100%;
    }
}
@media(width <380px){
    nav{ flex-direction: column;}

    .productos figure{
        width: 100%;
    }

    footer{
        flex-direction: column;
    }
    footer div:nth-child(2){
        margin: 10px 0;
    }
    .about .about__box--reverse,
    .about .about__box{
        flex-direction: column;
        align-items: center;
    }
    .about__img--md{
        width: 300px;
    }
    .about h1, .about h2{
        text-align: center;
    }
    .productos{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "vinos"
        "aceite de oliva"
        "conservas";
    }
    .productos .vinos,.productos .aceitedeoliva, .productos .conservas{
        flex-direction: column;
        padding: 10px;
    }

    .promociones{
        width: 50%;
        padding: 0%;
    }
    nav{
        width: 100%;
    }
}
